    <div><img id="pizzaBanner" src="/assets/pizzaBanner.png" alt=""></div>
    <h1 class="title d-flex justify-content-center">Pizzería Don Remolo</h1>
    <h3 class="description d-flex justify-content-center">Desde 1993 generando <strong class="sonrisas">  SONRISAS  </strong> en los clientes</h3>
